@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: rgb(255, 245, 246);
}


html {
    /* font-size: 16px; */
    scroll-behavior: smooth;
}

.btn {
    margin-top: 13.5px;
    padding: 20px 30px;
    font-size: 15px;
    border: none;
    background-color: rgb(182, 121, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1.5px solid rgb(117, 44, 121);
}

.index-button {
    margin-top: 13.5px;
    padding: 20px 30px;
    font-size: 15px;
    border: none;
    background-color: rgb(182, 121, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1.5px solid rgb(117, 44, 121);
}

.reviews-button {
    margin-top: 13.5px;
    padding: 20px 30px;
    font-size: 15px;
    border: none;
    background-color: rgb(182, 121, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1.5px solid rgb(117, 44, 121);
}

.btn2 {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    background-color: rgb(182, 121, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1.5px solid rgb(117, 44, 121);
}

.btn5 {
    padding: 3px 7px;
    font-size: 10px;
    border: none;
    background-color: rgb(182, 121, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1.5px solid rgb(117, 44, 121);
    max-width: 200px;
    align-self: center;
}

.btn7 {
    position: absolute;
    padding: 3px 7px;
    font-size: 10px;
    border: none;
    background-color: rgb(182, 121, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1.5px solid rgb(117, 44, 121);
    max-width: 80px;
    align-self: center;
    margin-top: 5px;
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.flexer {
    display: flex;
}

.centered {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.centered th, td {
    padding-right: 20px; /* Increased padding for more space */
    padding-left: 20px;
    max-width: 350px;
}

.centered h3 {
    margin-bottom: 20px;
}

.top_of_removal button{
    max-width: 100px;
}

.top_of_removal h1 {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.back_container {
    display: flex;
    align-items: center;
    gap: 17px;
}

.sorting_container {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 550px;
    margin-right: 52px;
    max-height: 800px;
    max-width: 1000px;
}

.sorting_container p {
    margin-top: 15px;
}


.sorting_container4 {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-left: -42px;
    position:absolute;
    max-height: 800px;
    max-width: 1000px;
}


.btn:hover {
    background-color: rgb(106, 57, 103);
}
.index-button:hover {
    background-color: rgb(106, 57, 103);
}
.reviews-button:hover {
    background-color: rgb(106, 57, 103);
}

.btn2:hover {
    background-color: rgb(106, 57, 103);
}



.title {
    text-align: center;
    color: rgb(62, 62, 62);
}


.titleHeader {
    display: contents;
    flex-direction: row;
}

.logo_container {
    display: flex;
    align-items: center; /* Vertically center the items */
}

.icon {
    display: flex;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    object-fit: cover; /* This ensures the image covers the entire container without stretching */
    object-position: center;
    margin-right: 7px;
    background: none;
    border: none;
}



.icon img{
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    object-fit: cover; /* This ensures the image covers the entire container without stretching */
    object-position: center;
    margin-right: 7px;
}

.icon-container {
    display: flex;
    align-items: center;
}



.h2o {
    position: absolute;
    display: flex;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 114px;
    margin-right: 175px;
    color: rgb(96, 18, 100);
}

.h2p {
    position: absolute;
    display: flex;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 90px;
    margin-right: 235px;
    color: rgb(96, 18, 100);
}


.h20 table {
    margin-right: 10px
}

.bordered {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 5px;
    border-radius: 5px;
}

.header {
    color: rgb(62, 62, 62);
}

.sorting_container {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 619px;
    margin-right: 76px;
    max-height: 800px;
    max-width: 500px;
}

.sorting_container p {
    margin-top: 15px;
}

.sort_above {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    margin-top: 630px;
    margin-right: 170px;
}

.sort_above2 {
    display: flex;
    /* position: relative; */
    margin-top: 10px;
    flex-direction: column;
    /* top: 0;
    right: 0;
    margin-top: 595px;
    margin-right: 100px; */
}

.fragrance_collection {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 159px;
    margin-right: 50px;
    margin-left: 500px;
    width: 50%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    max-height: 400px; /* Adjust the maximum height as needed */
    max-width: 500px;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    border: 2px solid #707070; /* Add a 1px solid border around the container */
    padding: 10px;
    border-radius: 5px;
}

.sorting-collection {
    display: flex;
    gap: 10px;
    max-width: 599px;
    /* min-width: none; */
    /* flex-wrap: wrap; */
}

.top-buttons-collection {
    display: flex;
    gap: 10px;
    margin-top: -10px;
}

.top-buttons-reviews {
    display: block;
    max-width: 400px;
    gap: 10px;
    margin-top: 5px;
}

.top-buttons-review-page {
    display: flex;
    gap: 10px;
}

.request-button-collection {
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 13px;
}

.request-text-collection {
    margin-top: 10px;
}


.middle-column {
    padding: 400px;
}

.fragrance_collection2 {
    width: 100%;
    /* margin-top: 20px; */
    border: 2px solid #ccc;
    border-radius: 5px;
    max-height: 440px; /* Adjust the maximum height as needed */
    min-height: 440px;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    padding: 10px;
}

.fragrance_collection th {
    vertical-align: top;
    line-height: 1.5;
    width: 60%;
}

.fragrance_collection td {
    vertical-align: middle;
    line-height: 1.5;
    max-width: 330px;
    width: 60%;
}

.fragtext {
    color: rgb(96, 18, 100);
    background-color: rgb(255, 252, 252);
}

.fragtext2 {
    color: rgb(96, 18, 100);
    margin-top: 3px;
}


.spacing {
    margin: 20px;
}

.spacing2 {
    margin-top: 8px;
    min-width: 434px;
    max-width: 434px;
}

.spacing3 {
    margin-top: 8px;
    margin-left: 18px;
    margin-right: 10px;
}

.spacing4 {
    margin-top: 8px;
    margin-left: 18px;
    min-width: 150px;
}

.spacing5 {
    margin-bottom: 3px;
}

.spacing7 {
    margin-right: 185px;
}

.spacing9 {
    margin-top: 15px;
}

.spacing10 {
    margin-top: 2px;
    margin-bottom: 3px;
}

.spacing11 {
    margin-bottom: 10px;
}


.no-cursor {
    cursor: default;
}


.fragrance_select {
    cursor: pointer;
}

.fragrance_select:hover {
    background-color: rgb(226, 226, 226);
}

.website {
    color: rgb(96, 18, 100);
    font-weight: bold;
    font-size: larger;
}

.profile-title-name {
    color: rgb(96, 18, 100);
    /* margin: 0 15px 0 0; */
    font-size: larger;
    /* margin-top: 33px; */
    /* margin-left: 10px; */
}




.profile-actions {
    display: flex;
    align-items: center;
    /* gap: 15px; Adjust the gap as needed */
    place-content: center;
    margin-top: -50px;
    margin-left: 185px;
}

.profile-actions p {
    font-size: smaller;
}




.selection_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 200px;
    overflow: hidden;
    width: 550px
}

.selection_container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 700px;
    overflow: hidden;
}
.selection_container2 p  {
    max-width: 190px;
}

.selection_container p {
    margin-top: 15px;
}


.pic_container {
    position: relative;
    object-fit: cover;
    display: flex;
    height: 340px;
    width: 400px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 5px;
}


.pic_container_menu img {
    position: relative;
    object-fit: cover;
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(123, 111, 111, 0.2);
}

.pic_container_reviews {
    position: relative;
    object-fit: cover;
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 7px;
    margin-top: 7px;
}

.pic_container_review_page {
    position: relative;
    object-fit: cover;
    display: flex;
    height: 170px;
    width: 400px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 5px;
    object-position: left;
}


.pic_container_for_5 {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 18px;
}

.pic_container_for_4 {
    display: flex;
    height: 230px;
    width: 530px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 18px;
}


.information_site {
    margin-top: -207px;
    display: grid;
    place-items: center;
}

.information_site p {
    max-width: 530px;
    margin-top: 75px;
}

.link {
    color: rgb(41, 97, 156); 
    text-decoration: none;
}

.link:hover {
    color: rgb(94, 40, 144);
    text-decoration: underline;
}

.trustworthy_sites {
    max-width: 280px;
    position: absolute;
    top: 80px; /* Adjust the distance from the top */
    right: 30px; /* Adjust the distance from the right */
    background-color: rgb(255, 248, 248); 
    box-shadow: 0 4px 8px rgba(123, 111, 111, 0.1); 
    border-radius: 5px;
    padding: 10px; /* Optional: to add some padding */
}

.trustworthy_sites p {
    margin-top: 5px;
}

.bold {
    font-weight: bold;
    color: rgb(62, 62, 62);
    padding-top: 15px;
}


.form_container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}


.reviews_container {
    position: absolute;
    align-items: center;
    flex-direction: column;
    right: 0;
    margin-top: -10%;
    margin-right: 5%;
    width: 50%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    max-height: 450px; /* Adjust the maximum height as needed */
    /* min-height: 450px; */
    max-width: 600px;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    border: 3px solid #707070; /* Add a 1px solid border around the container */
    padding: 10px;
    border-radius: 5px;
}


.reviews_container ul {
    list-style-type: none;
}




.reviews_container2 {
    position: absolute;
    align-items: center;
    flex-direction: column;
    right: 0;
    margin-top: 1%;
    margin-right: 5%;
    width: 50%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    max-height: 450px; /* Adjust the maximum height as needed */
    max-width: 600px;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    border: 3px solid #707070; /* Add a 1px solid border around the container */
    padding: 10px;
    border-radius: 5px;
}

.reviews_container2 ul {
    list-style-type: none;
}


.reviews-container {
    width: 100%;
    /* margin-top: 20px; */
    border: 2px solid #ccc;
    border-radius: 5px;
    max-height: 440px; /* Adjust the maximum height as needed */
    min-height: 440px;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    padding: 10px;
}

.reviews-container2 {
    width: 100%;
    /* margin-top: 20px; */
    border: 2px solid #ccc;
    border-radius: 5px;
    max-height: 420px; /* Adjust the maximum height as needed */
    min-height: 420px;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    padding: 10px;
}

.left-column-review-page {
    max-width: 400px;
}



.horizontal_container {
    flex-direction: row;
}

.horizontal_container2 {
    display: flex;
    gap: 15px;
}


.form_container label {
    margin-top: 15px;
}

.form_container2 {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}


.form_container3 {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.form_container3 textarea {
    min-height: 250px;
    font-size: large;
    padding: 5px;
    margin: 0;
    max-width: 500px;
}

.form_container3 h1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.form_container3 label,
.form_container3 p,
.form_container3 .star-rating {
    margin-bottom: -15px; /* Reduce the space between the label, paragraph, and star rating */
}

.special {
    margin-bottom: 20px;
}

.special2 {
    margin-bottom: 3px;
}





form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between label and input as needed */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    margin-bottom: 20px;
}




.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 2em;
    unicode-bidi: bidi-override;
}
.star-rating input {
    display: none;
}
.star-rating label {
    color: lightgray;
    cursor: pointer;
    font-size: 2em;
}
.star-rating input:checked ~ label {
    color: gold;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}




.small-stars {
    direction: rtl;
    display: inline-block;
    font-size: 8px;
    unicode-bidi: bidi-override;
}

.small-stars input {
    display: none;
}

.small-stars label {
    color: lightgray;
    font-size: 2em;
}

.small-stars input:checked ~ label {
    color: gold;
}








.btn3 {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.btn4 {
    margin-left: 10px;
    font-size: 10px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}


.like-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.5em;
    color: rgb(218, 79, 132);
}

.like-button.liked {
    color: rgb(218, 79, 132);
}






.profile-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.column {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 140px;
    word-break: break-word;
    margin-right: 0%;
    margin-left: 0%;
}

.left-column {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.right-column {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: -10px;
}

.column-title {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(96, 18, 100);
}

.column-title2 {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(96, 18, 100);
}

.column-content {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 450px; /* Adjust the maximum height as needed */
    min-height: 450px;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: left;
    margin-top: -10px;
    margin-left: 20px;
}
.button-container form {
    margin: 0 10px;
}


.review-item {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.edit-button {
    position: absolute;
    right: 0;
    margin-right: 52px;
    bottom: 0;
    margin-bottom: 5px;
    padding: 2px 5px;
    font-size: 10px;
    border: none;
    background-color: rgb(182, 121, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1.5px solid rgb(117, 44, 121);
}

.edit-button:hover {
    background-color: rgb(106, 57, 103);
}

.delete-button {
    position: absolute;
    right: 0;
    margin-right: 5px;
    bottom: 0;
    margin-bottom: 5px;
    padding: 2px 5px;
    font-size: 10px;
    border: none;
    background-color: rgb(182, 121, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1.5px solid rgb(117, 44, 121);
}

.delete-button:hover {
    background-color: rgb(106, 57, 103);
}


.confirm-button {
    margin-top: 15px;
    padding: 2px 5px;
    font-size: 14px;
    margin-right: 5px;
    border: none;
    background-color: rgb(182, 121, 179);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1.5px solid rgb(117, 44, 121);
}

.confirm-button:hover {
    background-color: rgb(106, 57, 103);
}

.link-review {
    color: rgb(96, 18, 100);
    background-color: rgb(255, 252, 252);
    text-decoration: none;
}

.link-review:hover {
    color: rgb(41, 97, 156); 
    text-decoration: underline;
}


.user_select {
    cursor: pointer;
}


.user_select:hover {
    background-color: rgb(226, 226, 226);
}

.kinda-bold {
    font-weight: 580;
}

.kinda-bold2 {
    font-weight: 535;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 160px;
    flex-wrap: wrap;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 105px;
    overflow-y: auto; 
}

.dropdown-content a {
    color: rgb(96, 18, 100);
    padding: 7px 10px;
    font-size: 12px;
    text-decoration: none;
    display: block;
    word-wrap: break-word; /* Add this to ensure long words are wrapped */
    white-space: normal;
}

.dropdown-content a:hover {
    background-color: rgb(226, 226, 226);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.spacing8 {
    margin-top: 5px;
}

.coloring {
    color: rgb(96, 18, 100);
}

.review-title {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-left: auto;
    /* color: rgb(96, 18, 100); */
}






.fragrance-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fragrance-info {
    max-width: 500px;
    text-align: left;
}

.fragrance-info h4 {
    font-size: 35px;
    color: rgb(96, 18, 100);
}

.fragrance-info p {
    font-size: 16px;
    color: rgb(96, 18, 100);
    margin-top: 10px;
}


.featured-fragrance {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5); 
    max-width: 700px;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-fragrance h3 {
    color: rgb(96, 18, 100);
    margin-bottom: 8px;
}

.no-bullets {
    list-style-type: none;
}

.AvgRating {
    margin-top: -20px;
}

