@media screen and (max-width: 414px) {
}

@media screen and (max-width: 1100px) {
    .featured-fragrance {
        max-width: 640px;
        min-width: 640px;
    }
    .pic_container_menu img{
        height: 350px;
        width: 350px;
    }
    .information_site {
        margin-top: -55px;
        display: block;
        max-width: 340px;
    }
    .selection_container {
        flex-direction: row;
        gap: 10px;
        margin-top: 5px;
        margin-bottom: 50px;
        max-width: 300px;
    }
    .pic_container_for_4 {
        max-width: 365px;
        max-height: 200px;
        left: 0;
    }
}

@media screen and (max-width: 1000px) {

    /* .follower-container {
        margin-top: -30px;
    } */
    .spacing20 {
        margin-top: 53px;
    }
    .featured-fragrance {
        width: 410px;
        min-width: 410px;
    }
    .pic_container_menu img{
        height: 12.5rem;
        width: 12.5rem;
    }
    .selection_container2 {
        margin-top: 0px;
    }
    .selection_container2 p {
        max-width: 190px;
    }
    .selection_container2 button {
        margin-top: 10px;
        max-width: 140px;
        min-width: 140px;
    }
    .fragrance-card {
        display: contents;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }



    .profile-title-name {
        margin-top: 40px;
        text-wrap: nowrap;
    }
    .specialCase {
        margin-top: -40px;
    }
    .right-column {
        min-width: 320px;
    }
    .btn {
        padding: 15px 20px;
        margin-top: 5px;
        min-width: 200px;
    }
    .write-button {
        padding: 15px 20px;
        margin-top: 5px;
        width: 200px;
    }

    /* .pic_container {
        max-width: 400px;
        max-height: 400px;
        object-fit: cover;
        width: auto;
    } */
 
    .sorting-collection {
        flex-wrap: wrap;
        place-content: center;
        gap: 5px;
        margin-top: 5px;
        align-items: center;
        max-width: 350px;
    }
   
    .btn2 {
        padding: 5px 8px;
        margin-top: 5px;
    }

    /* .reviews-container {
        max-height: 420px;
        min-height: 420px;
    } */
    .pic_container_reviews {
        max-width: 400px;
        max-height: 400px;
        object-fit: cover;
        width: 100%;
    }
    .pic_container {
        max-width: 115px;
        max-height: 250px;
        object-fit: cover;
        object-position: left;
    }
    .top-buttons-collection {
        max-width: 400px;
        margin-top: 15px;
        gap: 5px;
        flex-wrap: wrap;
        gap: 0px;
        display: block;
    }
    .request-button-collection {
        max-width: 400px;
        text-wrap: wrap;
        margin-top: 10px;
        display: block;
        /* margin-bottom: 5px; */
    }
    .pic_container {
        max-width: 400px;
        max-height: 300px;
        object-fit: cover;
        object-position: left;
        width:100%;
    }


    .star-rating {
        font-size: 15px;
    }
    .review-write-stars {
        font-size: 20px;
    }
    .top-buttons-review-page {
        max-width: 100px;
        gap: 5px;
        flex-wrap: wrap;
        gap: 0px;
        margin-bottom: 10px;
        margin-top: 17px;
    }
    .top-buttons-review-page2 {
        max-width: 100px;
        gap: 5px;
        flex-wrap: wrap;
        gap: 0px;
        margin-bottom: 10px;
        margin-top: 17px;
    }
    .column-title2 {
        font-size: smaller;
        margin-top: 35px;
    }
    .left-column-review-page {
        max-width: 200px;
    }
    .AvgRating {
        max-width: 120px;
        min-width: 120px
    }
    .pic_container_review_page {
        max-height: 130px;
        max-width: 200px;
        margin-top: -4px;
        margin-bottom: -5px;
    }
    .top-buttons-reviews {
        display: block;
        max-width: 400px;
        /* margin-top: 15px; */
    }
    .reviews-button {
        padding: 15px 20px;
        margin-top: 5px;
        min-width: 124px;
    }
    .collection-header h2 {
        font-size: 20px;
    }

}

@media screen and (max-width: 630px) {

    .reviews-container2 {
        margin-left: 10px;
        max-height: 40vh;
        min-height: 40vh;
        min-width: 85vw;
    }

    .selection_container2 button {
        margin-top: 0px;
        font-size: 0.85rem;
        max-width: 90px;
        min-width: 90px;
        min-height: 50px;
        max-height: 50px;
    }

    .collection-header h2 {
        text-wrap: wrap;
        margin-left: 45px;
    }
    .spacing15 {
        margin-top: 35px;
    }
    .spacing19 {
        margin-top: 70px;
        transform: translateY(36px);
    }
    .spacing18 {
        transform: translateY(15px);
    }

    .column-title2 .dropwdown-content {
        transform: translateY(-100px);
    }


    .top-buttons-collection button {
        font-size: 1rem;
        min-width:min-content;
        max-width:min-content;
        /* margin-left: -30px; */
    }
    .top-buttons-collection {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: -10px;
        margin-left: -9px;
        transform: translateX(2px)
    }

    .left-column-review-page {
        display:block;
        flex-direction: row;
        justify-content: space-between;
        /* max-width: 400vw; */
        flex-wrap: wrap;
    }

    .bruh2 {
        display: flex;
        place-content: center;
        justify-content: center;
        gap: 20px;
        margin-top: -10px;
    }

    .bruh3 {
        display: flex;
        place-content: center;
        justify-content: center;
        gap: -5px;
        margin-top: 30px;
    }

    .bruh3 .star-rating {
        text-wrap: nowrap;
        transform: translateX(-67px);
        white-space: nowrap;
        display: flex;
        font-size: 1.18rem;
        margin-right: -57px;
        margin-left: 20px;
        margin-top: -17px;
    }

    .bruh3 button {
        transform: translateY(-35px);
    }

    .bruh4 {
        display: flex;
        justify-content: center;
        gap: 9px;
        margin-top: -40px;
    }

    .back_container3 button {
        min-width: min-content;
        max-width: min-content;
        max-height: 47px;
        min-height: 47px;
        font-size: 1rem;
    }
    .top-buttons-review-page2 {
        max-width: 1000px;
        gap: 0px;
        flex-wrap: nowrap;
        gap: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
        z-index: 2;
    }
    

    .AvgRating {
        margin-left: 0px;
    }

    

    .request-button-collection button {
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
        /* margin-left: -30px; */
    }

    .request-button-collection2 button {
        font-size: 1rem;
        max-width: 185px;
        min-width: 185px;
        place-content: center;
    }


    .top-buttons-reviews button {
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
        margin-left: -10px;
    }
    .top-buttons-reviews{
        gap: 50px;
    }

    
    .back_container2 button{
        font-size: 1rem;
        max-width: 75px;
        min-width: 75px;
        margin-top: -5px;
        margin-left: -5px;
    }
    .back_container2 {
        gap: 50px;
        transform: translateX(2px)
    }
    .back_container button{
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
    }

    html {
        font-size: 14px;
    }

    .index-button {
        padding: 12px 18px;
        font-size: 1rem;
    }
    .right-column {
        min-width: 17.7rem;
        margin-top: -25px;
    }
    .btn {
        padding: 10px 15px;
        margin-top: 5px;
        font-size: 1rem;
    }
    .write-button {
        padding: 10px 15px;
        width: 100px;
        font-size: 1rem;
    }
    .pic_container_for_4 {
        max-width: 220px;
        max-height: 150px;
        left: 0;
    }
    .information_site {
        margin-top: -55px;
        display: block;
        max-width: 220px;
    }

    .reviews-button{
        transform: translateY(-10px)
    }
    .spacing21 {
        transform: translateY(-2px)
    }
    .request-button-collection {
        max-width: 115px;
        text-wrap: wrap;
        margin-top: 10px;
        /* margin-bottom: 5px; */
    }

    .pic_container {
        /* margin-left: -30px; */
        max-width: 0px;
        min-width: 0px;
        max-height: 0px;
        object-fit: cover;
        object-position: left;
    }
    .sorting-collection {
        flex-wrap: wrap;
        place-content: center;
        gap: 5px;
        margin-top: 5px;
        align-items: center;
    }
    .btn2 {
        padding: 5px 8px;
        margin-top: 5px;
    }

    /* .reviews-container {
        max-height: 420px;
        min-height: 420px;
    } */
    
    .pic_container_reviews {
        /* margin-left: -30px; */
        max-width: 0px;
        min-width: 0px;
        height: 0px;
    }
    .pic_container_review_page {
        max-width: 0px;
        min-width: 0px;
        height: 0px;
        /* object-position: right; */
    }
    /* .top-buttons-collection p {
        margin-top: -10px;
        font-size: 0px;
        color: rgb(255, 245, 246);;
    } */

    /* .selection_container2 {
        max-width: 110px;
        margin-left: -20px;
    } */
    .selection_container2 p {
        text-wrap: wrap;
        word-break: break-word;
    }

    .menu-header .selection_container2 {
        flex-direction: row;
        column-gap: 5px;
        row-gap: 5px;
        place-content: center;
        transform: translateY(10px);
        margin-top: -35px;
        max-width: 320px;
    }


    .star-rating {
        font-size: 10px;  
    }
    .top-buttons-review-page {
        display: flex;
        flex-direction: row;
        max-width: none;
        flex-wrap: nowrap;
        gap: 5px;
    }
    .column-title2 h2 {
        font-size: smaller;
        text-wrap: nowrap;
    }
    /* .top-buttons-collection {
        max-width: 100px;
        margin-top: 25px;
        gap: 5px;
        flex-wrap: wrap;
        gap: 0px;
    } */
    .spacing2 {
        min-width: 300px;
        max-width: 300px;
    }
    #searchResults {
        max-width: 300px;
    }
    #reviewSearchResults {
        max-width: 300px;
    }


    .form_container3 textarea{
        max-width: 300px;
    }
    .review-title {
        font-size: smaller;
        max-width: 300px;
        margin: 0 auto; /* Centers the element */
        transform: translateY(20px);
    }   
    .review-title2 {
        font-size: smaller;
        max-width: 300px;
        margin: 0 auto; /* Centers the element */
        transform: translateY(20px);
    }  
    .form_container3 {
        margin-top: 20px;
    }
    .review-write-stars {
        font-size: 20px;
    }

    .profile-container2 {
        flex-direction: column;
        align-items: center;
    }
    .profile-container2 .column {
        margin-top: 40px;
    }
    .column-content {
        min-width: 85vw;
    }
    .button-container {
        justify-content: center;
        margin-right: 20px;
        margin-bottom: 125px;
        margin-top: 50px;
    }
    .button-container button {
        max-width: 120px;
        min-width: 120px;
    }


    .profile-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .left-column {
        flex-direction: row;
        gap: 5px;
    }
    .reviews-container {
        margin-top: -5px;
        min-height: 58vh;
        max-height: 58vh;
        min-width: 85vw;
        margin-left: 10px;
        /* margin-right: 5px;
        margin-left: 5px; */
        /* max-width: 320px; */
    }
    .fragrance_collection2 {
        margin-top: -12px;
        min-height: 59vh;
        max-height: 59vh;
        min-width: 85vw;
        margin-left: 10px;
        /* margin-right: 5px;
        margin-left: 5px; */
        /* max-width: 320px; */
    }
    .spacing15 {
        transform: translateY(-17px);
    }
    .dropdown-content {
        margin-top: -21px;
    }

    .menu-header {
        flex-direction: column-reverse;
    }

    .featured-fragrance {
        margin-top: -10px; 
        width: 100%;
        min-width: 17.7rem;
        height: fit-content;
    }
    .pic_container_menu img{
        height: 11.5rem;
        width: 11.5rem;
    }
    .fragrance-info h4 {
        font-size: 1.7rem;
    }

    .review-page-title {
        margin-top: 5px;
    }
    .myRating {
        color: rgb(255, 245, 246);;
    }
   
}

@media screen and (max-height: 780px) and (max-width: 359px) {
    .pic_container_menu img{
        height: 9rem;
        width: 9rem;
    }
    .fragrance-info h4 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 399px) {
    .selection_container {
        flex-direction: column;
        gap: 0px;
    }
    .pic_container_for_4 {
        max-width: 140px;
        max-height: 120px;
        left: 0;
    }
    .information_site p {
        max-width: 140px;
    }
}


@media screen and (max-width: 359px) {
    .menu-header .selection_container2 {
        column-gap: 25px;
    }
}


/* OTHER PEOPLES PROFIELS ARE SCREWED UP HERE   */
/* OTHER PEOPLES PROFIELS ARE SCREWED UP HERE   */
/* OTHER PEOPLES PROFIELS ARE SCREWED UP HERE   */
@media screen and (max-width: 700px) {
    .reviews-button {
        padding: 10px 15px;
        margin-top: 5px;
        font-size: 1rem;
    }
    .trustworthy_sites {
        max-width: 9rem;
        min-width: 9rem;
        margin-top: -22px;
    }

    /* .featured-fragrance {
        max-width: 17.7rem;
        min-width: 17.7rem;
        margin-top: 0px;
    } */


    .spacing9 {
        margin-top: 15px;
    }
    .bruh {
        position: absolute;
        margin-top: 50px;
    }
    .specialCase {
        margin-top: 0px;
    }
    .follower-container {
        margin-top: 0px;
    }
    .spacing20 {
        margin-top: 13px;
    }

    
}
