@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
    /* .featured-fragrance {
        max-width: 600px;
        min-width: 600px;
    }
    .pic_container_menu img{
        height: 300px;
        width: 300px;
    } */
}

@media screen and (max-width: 1100px) {
    .featured-fragrance {
        max-width: 640px;
        min-width: 640px;
    }
    .pic_container_menu img{
        height: 350px;
        width: 350px;
    }
    .information_site {
        margin-top: -55px;
        display: block;
        max-width: 340px;
    }
    .selection_container {
        flex-direction: row;
        gap: 10px;
        margin-top: 5px;
        margin-bottom: 50px;
        max-width: 300px;
    }
    .pic_container_for_4 {
        max-width: 365px;
        max-height: 200px;
        left: 0;
    }
}

@media screen and (max-width: 1000px) {

    .featured-fragrance {
        width: 450px;
        min-width: 400px;
    }
    .pic_container_menu img{
        height: 12.5rem;
        width: 12.5rem;
    }
    .selection_container2 {
        margin-top: 0px;
    }
    .selection_container2 p {
        max-width: 190px;
    }
    .selection_container2 button {
        margin-top: 10px;
        max-width: 140px;
        min-width: 140px;
    }
    .fragrance-card {
        display: contents;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }



    .profile-title-name {
        margin-top: 40px;
        text-wrap: nowrap;
    }
    .specialCase {
        margin-top: -40px;
    }
    .right-column {
        min-width: 320px;
    }
    .btn {
        padding: 15px 20px;
        margin-top: 5px;
        min-width: 200px;
    }
    .write-button {
        padding: 15px 20px;
        margin-top: 5px;
        width: 200px;
    }

    /* .pic_container {
        max-width: 400px;
        max-height: 400px;
        object-fit: cover;
        width: auto;
    } */
 
    .sorting-collection {
        flex-wrap: wrap;
        place-content: center;
        gap: 5px;
        margin-top: 5px;
        align-items: center;
        max-width: 350px;
    }
   
    .btn2 {
        padding: 5px 8px;
        margin-top: 5px;
    }

    /* .reviews-container {
        max-height: 420px;
        min-height: 420px;
    } */
    .pic_container_reviews {
        max-width: 400px;
        max-height: 400px;
        object-fit: cover;
        width: 100%;
    }
    .pic_container {
        max-width: 115px;
        max-height: 250px;
        object-fit: cover;
        object-position: left;
    }
    .top-buttons-collection {
        max-width: 400px;
        margin-top: 15px;
        gap: 5px;
        flex-wrap: wrap;
        gap: 0px;
        display: block;
    }
    .request-button-collection {
        max-width: 400px;
        text-wrap: wrap;
        margin-top: 10px;
        display: block;
        /* margin-bottom: 5px; */
    }
    .pic_container {
        max-width: 400px;
        max-height: 300px;
        object-fit: cover;
        object-position: left;
        width:100%;
    }


    .star-rating {
        font-size: 15px;
    }
    .review-write-stars {
        font-size: 20px;
    }
    .top-buttons-review-page {
        max-width: 100px;
        gap: 5px;
        flex-wrap: wrap;
        gap: 0px;
        margin-bottom: 10px;
        margin-top: 17px;
    }
    .column-title2 {
        font-size: smaller;
    }
    .left-column-review-page {
        max-width: 200px;
    }
    .AvgRating {
        max-width: 120px;
        min-width: 120px
    }
    .pic_container_review_page {
        max-height: 130px;
        max-width: 200px;
        margin-top: -4px;
        margin-bottom: -5px;
    }
    .top-buttons-reviews {
        display: block;
        max-width: 400px;
        margin-top: 15px;
    }
    .reviews-button {
        padding: 15px 20px;
        margin-top: 5px;
        min-width: 124px;
    }
    .collection-header h2 {
        font-size: 20px;
    }

}

@media screen and (max-width: 600px) {

    .reviews-container2 {
        margin-right: 30px;
    }

    .selection_container2 button {
        margin-top: 10px;
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
    }

    .collection-header h2 {
        text-wrap: wrap;
        margin-left: 45px;
    }
    .spacing15 {
        margin-top: 35px;
    }
    .spacing18 {
        transform: translateY(30px);
        margin-right: 17px;
    }
    .spacing19 {
        margin-top: 30px;
    }

    .top-buttons-collection button {
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
        margin-left: -30px;
    }

    .left-column-review-page {
        font-size: 1rem;
        margin-left: -30px;
        max-width: 100px;
        min-width: 100px;
    }

    .AvgRating {
        margin-left: -30px;
    }

    .request-button-collection button {
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
        margin-left: -30px;
    }

    .request-button-collection2 button {
        font-size: 1rem;
        max-width: 185px;
        min-width: 185px;
        place-content: center;
    }


    .top-buttons-reviews button {
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
        margin-top: 20px;
        margin-left: -30px;
    }

    .back_container3 button{
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
    }
    .back_container2 button{
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
        margin-left: -30px;
    }
    .back_container button{
        font-size: 1rem;
        max-width: 100px;
        min-width: 100px;
        margin-left: -30px;
    }

    html {
        font-size: 14px;
    }

    .index-button {
        padding: 12px 18px;
        font-size: 1rem;
    }
    .right-column {
        min-width: 17.7rem;
    }
    .btn {
        padding: 10px 15px;
        margin-top: 5px;
        font-size: 1rem;
    }
    .write-button {
        padding: 10px 15px;
        width: 100px;
        font-size: 1rem;
    }
    .pic_container_for_4 {
        max-width: 220px;
        max-height: 150px;
        left: 0;
    }
    .information_site {
        margin-top: -55px;
        display: block;
        max-width: 220px;
    }

    /* .reviews-button {
        padding: 15px 20px;
        margin-top: 5px;
        min-width: 110px;
    } */
    .request-button-collection {
        max-width: 115px;
        text-wrap: wrap;
        margin-top: 10px;
        /* margin-bottom: 5px; */
    }

    .pic_container {
        margin-left: -30px;
        max-width: 100px;
        min-width: 100px;
        max-height: 250px;
        object-fit: cover;
        object-position: left;
    }
    .sorting-collection {
        flex-wrap: wrap;
        place-content: center;
        gap: 5px;
        margin-top: 5px;
        align-items: center;
    }
    .btn2 {
        padding: 5px 8px;
        margin-top: 5px;
    }

    /* .reviews-container {
        max-height: 420px;
        min-height: 420px;
    } */
    
    .pic_container_reviews {
        margin-left: -30px;
        max-width: 100px;
        min-width: 100px;
        height: 393px;
    }
    .pic_container_review_page {
        max-width: 100px;
        max-height: 100px;
        object-fit: cover;
        /* object-position: right; */
    }
    /* .top-buttons-collection p {
        margin-top: -10px;
        font-size: 0px;
        color: rgb(255, 245, 246);;
    } */

    .selection_container2 {
        max-width: 110px;
        margin-left: -20px;
    }
    .selection_container2 p {
        text-wrap: wrap;
        word-break: break-word;
    }


    .star-rating {
        font-size: 10px;  
    }
    .top-buttons-review-page {
        max-width: 100px;
        gap: 5px;
        flex-wrap: wrap;
        gap: 0px;
        margin-bottom: 10px;
        margin-top: 17px;
    }
    .column-title2 {
        font-size: smaller;
    }
    .left-column-review-page {
        max-width: 115px;
    }
    /* .spacing9 {
        margin-left: -10px
    } */
    .top-buttons-collection {
        max-width: 100px;
        margin-top: 25px;
        gap: 5px;
        flex-wrap: wrap;
        gap: 0px;
    }
    .selection_container2{
        transform: translateY(10px);
    }
    .spacing2 {
        min-width: 300px;
        max-width: 300px;
    }
    #searchResults {
        max-width: 300px;
    }


    .form_container3 textarea{
        max-width: 300px;
    }
    .review-title {
        font-size: smaller;
        max-width: 300px;
        margin: 0 auto; /* Centers the element */
        transform: translateY(20px);
    }   
    .review-title2 {
        font-size: smaller;
        max-width: 300px;
        margin: 0 auto; /* Centers the element */
        transform: translateY(20px);
    }  
    .form_container3 {
        margin-top: 20px;
    }
    .review-write-stars {
        font-size: 20px;
    }
}


/* OTHER PEOPLES PROFIELS ARE SCREWED UP HERE   */
/* OTHER PEOPLES PROFIELS ARE SCREWED UP HERE   */
/* OTHER PEOPLES PROFIELS ARE SCREWED UP HERE   */
@media screen and (max-width: 700px) {
    .reviews-button {
        padding: 10px 15px;
        margin-top: 5px;
        font-size: 1rem;
    }
    .trustworthy_sites {
        max-width: 9rem;
        min-width: 9rem;
        margin-top: -22px;
    }

    .featured-fragrance {
        max-width: 17.7rem;
        min-width: 17.7rem;
        margin-top: 0px;
    }
    .selection_container2 {
        margin-top: -42px;
    }


    .spacing9 {
        margin-top: 15px;
    }
    .bruh {
        position: absolute;
        margin-top: 50px;
    }
    .specialCase {
        margin-top: 0px;
    }
    /* .top-buttons-collection p {
        margin-top: -10px;
        font-size: 0px;
        color: rgb(255, 245, 246);;
    } */
    /* .pic_container_reviews {
        max-width: 115px;
        max-height: 400px;
        object-fit: cover;
    }
    .top-buttons-reviews {
        max-width: 100px;
        margin-top: 33px;
        gap: 5px;
        flex-wrap: wrap;
        gap: 0px;
    }
    
    .top-buttons-reviews p {
        margin-top: -10px;
        font-size: 0px;
        color: rgb(255, 245, 246);;
    } */

    /* .btn {
        padding: 15px 20px;
        margin-top: 5px;
        min-width: 115px;
    } */

    /* FROM HERE IT IS THE SAME AS 600 
    /* FROM HERE IT IS THE SAME AS 600
    /* FROM HERE IT IS THE SAME AS 600
    /* FROM HERE IT IS THE SAME AS 600
    /* FROM HERE IT IS THE SAME AS 600
    /* FROM HERE IT IS THE SAME AS 600 */

    
}
 /* OTHER PEOPLES PROFIELS ARE SCREWED UP HERE   */
  /* OTHER PEOPLES PROFIELS ARE SCREWED UP HERE   */
   /* OTHER PEOPLES PROFIELS ARE SCREWED UP HERE   */