<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/inappstyles.css">
    <link rel="stylesheet" href="static/mediaqueries.css"/>
    <title>Add Fragrance</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/app.js"></script>
</head>
<div class = "top_of_removal no-cursor">
    <h1>Add to Collection</h1>
</div>
<div class="form_container2">
            <form id="fragrance_name_form" action="/add_fragrance_to_collection" method="POST" autocomplete="off">
                <label for="fragrance_name">Search by fragrance name:</label>
                <input type="text" id="fragrance_name" name="fragrance_name" autocomplete="off" autocorrect="off">
            </form>
    
            <form id="fragrance_house_form" action="/add_fragrance_to_collection" method="POST" autocomplete="off">
                <label for="fragrance_house">Search by fragrance house:</label>
                <input type="text" id="fragrance_house" name="fragrance_house" autocomplete="off" autocorrect="off">
            </form>

    <div id="searchResults"></div>

</div>
</html>