<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collection Dashboard</title>
        <link rel="stylesheet" href="static/inappstyles.css">
        <link rel="stylesheet" href="static/mediaqueries.css"/>
    </head>
</head>
<body class = "no-cursor">
    <div class="header">
        <div class="logo_container">
            <img src="{{ url_for('static', filename='assets/logo.jpeg') }}" alt="logo" class="icon" />
            <p class="website no-cursor">FragranceArchive</p>
        </div>
        <div class="icon">
            <form action="/profile_page" method="GET">
                <button class="icon" type="submit">
                    <img src="{{ url_for('static', filename='assets/profile_icon.jpeg') }}"/>
                </button>
            </form>
        </div>
    </div>
    <div class = "profile-container">
    <div class = "left-column">
        <!-- <p>Here are your options:</p> -->
        <div class = "top-buttons-collection">
            <!-- Add buttons or links to different functionalities -->
            <form action="/add_collection" method="GET">
                <button class = "btn" type="submit">Add a Fragrance</button>
            </form>
            <form action="/remove_collection" method="POST">
                <button class = "btn" type="submit">Remove a Fragrance</button>
            </form>
        </div>
        <div class = "request-button-collection">
            <!-- <p> Dont see a fragrance you know? </p> -->
            <form action="/request_fragrance" method="GET">
                <button class = "btn" type="submit">Request Fragrance</button>
            </form>
        </div>
        <img src="{{ url_for('static', filename='assets/fragrances2.jpg.webp') }}" alt="fragrance icon" class="pic_container" />
        <div class = "back_container2">
            <form action="/handle_menu" method="POST">
                <button class = "btn" type="submit">Main Menu</button>
            </form>
        </div>
    </div>
    <div class = "right-column">
    <!-- <div class = h20> -->
        <div class = "collection-header">
            <h2 class = "column-title"> My Fragrance Collection</h2>
                <div class="dropdown">
                    <button class="btn5 spacing15" onclick="toggleDropdown()">Sort</button>
                    <div class="dropdown-content">
                        <a class="colored" href="/alphabetically_sort_name_AZ_collection">Name A-Z</a>
                        <a class="colored" href="/alphabetically_sort_name_ZA_collection">Name Z-A</a>
                        <a class="colored" href="/alphabetically_sort_house_AZ_collection">House A-Z</a>
                        <a class="colored" href="/alphabetically_sort_house_ZA_collection">House Z-A</a>
                        <a class="colored" href="/newest_added_collection">Newest Added</a>
                        <a class="colored" href="/oldest_added_collection">Oldest Added</a>
                    </div>
                </div>
        </div>
            <div class = "fragrance_collection2">
                {% for fragrance in fragrance_collection %}
                    <p class="bordered fragtext spacing5"><a class="link-review" href="{{ url_for('review_page', fragrance_name=fragrance.name|urlencode, fragrance_house=fragrance.house|urlencode) }}">
                        <strong class="kinda-bold">{{ fragrance.name }}</strong> by {{ fragrance.house }}</a>
                    </p>        
                {% endfor %}
            </div>
    <script>
        // function sortCollection(select) {
        //     var selectedValue = select.value;
        //     if (selectedValue) {
        //         window.location.href = selectedValue;
        //     }
        // }
        
        function toggleDropdown() {
            document.querySelector('.dropdown-content').classList.toggle('show');
        }

        function closeDropdowns(event) {
            if (!event.target.matches('.btn5')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        window.addEventListener('click', closeDropdowns);
        window.addEventListener('touchstart', closeDropdowns);
    </script>
    
</div>
</div>
</body>
</html>