<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inappstyles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.getElementById("deleteAccountForm");
            form.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });

        $(document).ready(function() {
            var token = "{{ token }}"
            $('#deleteAccountForm').on('submit', function(event) {
                event.preventDefault();

                var submitButton = $(this).find('button[type="submit"]');
                submitButton.prop('disabled', true);

                $.ajax({
                    url: '/delete_account_logic',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.success) {
                            window.location.href = response.redirect_url;
                        } else {
                            alert(response.message);
                            submitButton.prop('disabled', false);
                        }
                    },
                    error: function() {
                        alert('An error occurred. Please try again.');
                        submitButton.prop('disabled', false);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="top_of_removal no-cursor">
        <h1>Delete your account</h1>
    </div>
    <div class="form_container no-cursor">
        <h4>Please enter your username to delete your account. Once submitted, this cannot be undone.</h4>
        <form id="deleteAccountForm" action="/delete_account_logic" method="POST">
            <input type="text" name="entered_username" required>
            <input type="hidden" name="username" value="{{ username }}">
            <input type="hidden" name="email" value="{{ email }}">
            <button class="btn2" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>