<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inappstyles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.getElementById("passwordEmailForm");
            form.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });

        $(document).ready(function() {
            var token = "{{ token }}"
            $('#passwordResetForm2').on('submit', function(event) {
                event.preventDefault();
                
                var submitButton = $(this).find('button[type="submit"]');
                
                submitButton.prop('disabled', true);

                $.ajax({
                    url: '/reset_password/' + token,
                    type: 'POST',
                    data: $(this).serialize(),
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function(response) {
                        if (response.success) {
                            window.location.href = response.redirect_url;
                        } else {
                            alert(response.message);
                            submitButton.prop('disabled', false);
                        }
                    },
                    error: function() {
                        alert('An error occurred. Please try again.');
                        submitButton.prop('disabled', false);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class = "top_of_removal no-cursor">
        <h1>Enter your new Password</h1>
    </div>
    <div class="form_container no-cursor">
        <form id="passwordResetForm2" method="POST">
            <input type="password" name="password" placeholder="New Password" required>
            <button class = "btn2" type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>