<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inappstyles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.getElementById("passwordEmailForm");
            form.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });

        $(document).ready(function() {
            var token = "{{ token }}"
            $('#passwordResetForm2').on('submit', function(event) {
                event.preventDefault();  // Prevent default form submission

                $.ajax({
                    url: '/reset_password/' + token,
                    type: 'POST',
                    data: $(this).serialize(),  // Serialize form data
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function(response) {
                        if (response.success) {
                            // Redirect if successful
                            window.location.href = response.redirect_url;
                        } else {
                            // Show the error message (replace with custom UI if needed)
                            alert(response.message);
                        }
                    },
                    error: function() {
                        alert('An error occurred. Please try again.');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <!-- <div class = "top_of_removal no-cursor">
        <h1>Password Reset</h1>
    </div> -->
    <div class = "top_of_removal no-cursor">
        <h1>Enter your new Password</h1>
    </div>
    <div class="form_container no-cursor">
        <form id="passwordResetForm2" method="POST">
            <input type="password" name="password" placeholder="New Password" required>
            <button class = "btn2" type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>




<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <form method="POST">
        <input type="password" name="password" placeholder="New Password" required>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html> -->