<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/inappstyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/app.js"></script>
    <title>Login</title>
</head>
<body>
    <div class = "top_of_removal">
        <h1>Login</h1>
    </div>
    <div class = form_container>
    <form id = "loginForm" action="/login" method="POST">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <button class=btn2 type="submit">Login</button>
    </form>
    <form id = "resetPasswordForm" action="/reset_password" method="GET">
        <button class="btn2" type="submit">Reset Password</button>
    </form>
    </div>
</body>
</html>