<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FragranceArchive</title>
        <link rel="stylesheet" href="static/inappstyles.css">
        <link rel="stylesheet" href="static/mediaqueries.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
<body>
    <div class="header">
        <div class="logo_container">
            <img src="{{ url_for('static', filename='assets/logo.jpeg') }}" alt="logo" class="icon" />
            <p class="website no-cursor">FragranceArchive</p>
        </div>
        <div class="icon">
            <form action="/profile_page" method="GET">
                <button class="icon" type="submit">
                    <img src="{{ url_for('static', filename='assets/profile_icon.jpeg') }}"/>
                </button>
            </form>
        </div>
    </div>
    <div class = "menu-header">
        <div class = "left-column">
            <div class = "selection_container2">
                <!-- <p class="no-cursor">Hello {{ userName }}, Please choose an option below:</p> -->
                <form action="/handle_collection" method="POST">
                    <button class = "btn" type="submit">My Collection</button>
                </form>
                <form action="/handle_wishlist" method="POST">
                    <button class = "btn" type="submit">My Wishlist</button>
                </form>
                <form action="/handle_reviews" method="POST">
                    <button class="btn" type="submit">Fragrance Reviews</button>
                </form>
                <form action="/search_reviews" method="GET">
                    <button class="btn" type="submit">Search Fragrance</button>
                </form>
                <form action="/search_users" method="GET">
                    <button class="btn" type="submit">Search Users</button>
                </form>
                <!-- <br><br> -->
                <form action="/logout" method="POST">
                    <button class = "btn" type="submit">Logout</button>
                </form>
            </div>
        </div>

        <div class = "left-column">
            <div class="featured-fragrance">
                <h3>Fragrance of the Week</h3>
                <div class="fragrance-card">
                    <div class = "pic_container_menu">
                        <img src="{{ url_for('static', filename=fragranceOfWeek.image_url) }}" alt="Featured Fragrance">
                    </div>
                    <div class="fragrance-info">
                        <h4>{{ fragranceOfWeek.fragrance_name }}</h4>
                        <p>{{ fragranceOfWeek.description }}</p>
                    </div>
                </div>
            </div>
        </div>

</div>
</body>
</html>