<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <link rel="stylesheet" href="static/inappstyles.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.getElementById("requestForm");
            form.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });
    </script>
</head>
<body>
    <div class = "top_of_removal no-cursor">
        <h1>Request a Fragrance</h1>
    </div>
    <div class="form_container no-cursor">
        <h4>Please enter the details of a fragrance we do not have yet.<br> 
        If the entry is valid, it will be updated in our system soon.</h4>
        <form id="requestForm" action="/request_fragrance" method="POST">
            <label for="name">Fragrance Name</label>
            <input type="text" id="name" name="name" required>
            
            <label for="house">Fragrance House:</label>
            <input type="text" id="house" name="house" required><br>
            <button class=btn2 type="submit">Submit</button>
        </form>
    </div>
</body>
</html>