<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist Dashboard</title>
    <link rel="stylesheet" href="static/inappstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/mediaqueries.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/app.js"></script>
</head>
<body class = "no-cursor">
    
    <div class="header">
        <div class="logo_container">
            <img src="{{ url_for('static', filename='assets/logo.jpeg') }}" alt="logo" class="icon" />
            <p class="website no-cursor">FragranceArchive</p>
        </div>
        <div class="icon">
            <form action="/profile_page" method="GET">
                <button class="icon" type="submit">
                    <img src="{{ url_for('static', filename='assets/profile_icon.jpeg') }}"/>
                </button>
            </form>
        </div>
    </div>

    <div class = "profile-container">
        <div class = "left-column">
            <div class="top-buttons-reviews spacing21">
                <form action="/search_reviews" method="GET">
                    <button id = "searchButton" class="reviews-button" type="submit">Search</button>
                </form>
            </div>
            <img src="{{ url_for('static', filename='assets/fragrances11.jpg') }}" alt="fragrance icon" class="pic_container_reviews" />
            <div class="back_container">
                <form action="/handle_menu" method="POST">
                    <button id = "menuButton" class="reviews-button" type="submit">Menu</button>
                </form>
            </div>
        </div>

        <div class = "right-column">
            <div class = "collection-header">
                <h2 class = "column-title">Fragrance Reviews</h2>
                    <div class="dropdown">
                        <button class="btn5 spacing15" onclick="toggleDropdown()">Sort</button>
                        <div class="dropdown-content">
                            <a class="colored" href="/sort_reviews_highest_rated">High Rating</a>
                            <a class="colored" href="/sort_reviews_lowest_rated">Low Rating</a>
                            <a class="colored" href="/sort_reviews_popularity">Popularity</a>
                            <a class="colored" href="/sort_reviews_newest">Newest Added</a>
                            <a class="colored" href="/sort_reviews_oldest">Oldest Added</a>
                        </div>
                    </div>
            </div>
            <div class="reviews-container">
                <ul>
                    {% if reviews %}
                        {% for review in reviews %}
                        <ul id="review_{{ review.review_id }}">
                            <li class="review-item fragtext bordered spacing5">
                                <div class="review-header">
                                    <a href="{{ url_for('review_page', fragrance_name=review.fragrance_name|urlencode, fragrance_house=review.fragrance_house|urlencode) }}" class="link-review">
                                        <strong>{{ review.fragrance_name }} by {{ review.fragrance_house }}</strong>
                                    </a>
                                    {% if email != review.review_email %}
                                        <button class="btn4 like-button {% if review.user_liked %}liked{% endif %}" onclick="addLike('{{ review.review_id }}', this)">
                                            <i class="{% if review.user_liked %}fas{% else %}far{% endif %} fa-heart"></i>
                                        </button>
                                    {% endif %}
                                </div>
                                <p class = "spacing10">{{ review.review }}</p>
                                <small>Rating: 
                                    <span class="small-stars">
                                        {% for i in range(5, 0, -1) %}
                                            <input type="radio" id="star{{i}}_{{review.review_id}}" name="rating{{review.review_id}}" value="{{i}}" {% if review.rating == i %}checked{% endif %} disabled/>
                                            <label for="star{{i}}_{{review.review_id}}">&#9733;</label>
                                        {% endfor %}
                                    </span>
                                </small>
                                <br>
                                <small>Likes: {{ review.likes }}</small>
                                <br>
                                {% if email != review.review_email %}
                                <small>User: <a href="{{ url_for('profile_page', user_email=review.review_email) }}" class="link-review">{{ review.name }}</a></small>
                                {% endif %}
                                {% if email == review.review_email %}
                                    <div class="edit-delete-buttons">
                                        <a href="{{ url_for('edit_review', review_id=review.review_id, fragrance_name=review.fragrance_name|urlencode, fragrance_house=review.fragrance_house|urlencode, rating=review.rating) }}" class="edit-button">Edit</a>
                                        <button class="delete-button" onclick="confirmDelete('{{ review.review_id }}')">Delete</button>
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                        {% endfor %}
                    {% else %}
                        <li class = "no-bullets">No reviews available.</li>
                    {% endif %}
                </ul>
            </div>
    </div>
</div>

<script>
    function toggleDropdown() {
        document.querySelector('.dropdown-content').classList.toggle('show');
    }

    function closeDropdowns(event) {
        if (!event.target.matches('.btn5')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    window.addEventListener('click', closeDropdowns);
    window.addEventListener('touchstart', closeDropdowns);

    function confirmDelete(reviewId) {
        const reviewElement = document.getElementById(`review_${reviewId}`);
        reviewElement.innerHTML = `
            <div class = "fragtext bordered spacing">
            <p>Are you sure you want to delete this review?</p>
            <button class="confirm-button" onclick="deleteReview(${reviewId})">Yes</button>
            <button class="confirm-button" onclick="cancelDelete(${reviewId})">No</button>
            <div/>
        `;
    }

    // BUTTON UPDATING
    function updateButtonText() {
        const searchButton = document.getElementById('searchButton');
        const menuButton = document.getElementById('menuButton');
        
        if (window.innerWidth >= 630) {
            searchButton.textContent = 'Search Fragrance';
            menuButton.textContent = 'Main Menu';
        } else {
            searchButton.textContent = 'Search';
            menuButton.textContent = 'Menu';
        }
    }
    updateButtonText();
    window.addEventListener('resize', updateButtonText);
</script>
</body>
</html>