<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/inappstyles.css">
    <title>Sign Up</title>
</head>
<body>
    <div class = "top_of_removal">
        <form action="/back_to_index" method="POST">
            <button class = "btn2" type="submit">Back</button>
        </form>
        <h1>Sign Up</h1>
    </div>
    <div class = form_container>
    <form action="/sign_up" method="POST">

        <label for="name">Name:</label>
        <input type="name" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <button class = btn2 type="submit">Sign Up</button>
    </form>
    </div>  
</body>
</html>