<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/inappstyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/app.js"></script>
    <title>Sign Up</title>
</head>
<body>
    <div class = "top_of_removal">
        <!-- <form action="/back_to_index" method="POST">
            <button class = "btn2" type="submit">Back</button>
        </form> -->
        <h1>Sign Up</h1>
    </div>
    <div class = form_container>
    <form id="signupForm" action="/sign_up" method="POST">

        <label for="name">First Name:</label>
        <input type="name" id="name" name="name" required>

        <label for="lastname">Last Name:</label>
        <input type="lastname" id="lastname" name="lastname" required>

        <label for="username">Username:</label>
        <input type="username" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <button class = btn2 type="submit">Sign Up</button>
    </form>
    </div>  
</body>
</html>