<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wishlist Dashboard</title>
        <link rel="stylesheet" href="static/inappstyles.css">
        <link rel="stylesheet" href="static/mediaqueries.css"/>
    </head>
</head>
<body class = "no-cursor">
    <div class="header">
        <div class="logo_container">
            <img src="{{ url_for('static', filename='assets/logo.jpeg') }}" alt="logo" class="icon" />
            <p class="website no-cursor">FragranceArchive</p>
        </div>
        <div class="icon">
            <form action="/profile_page" method="GET">
                <button class="icon" type="submit">
                    <img src="{{ url_for('static', filename='assets/profile_icon.jpeg') }}"/>
                </button>
            </form>
        </div>
    </div>
    <div class = "profile-container">
        <div class = "left-column">
            <!-- <p>Here are your options:</p> -->
            <!-- Add buttons or links to different functionalities -->
            <div class="top-buttons-collection">
                <form action="/add_wishlist" method="GET">
                    <button class = "btn" type="submit">Add a Fragrance</button>
                </form>
                <form action="/remove_wishlist" method="POST">
                    <button class = "btn" type="submit">Remove a Fragrance</button>
                </form>
            </div>
            <div class="request-button-collection">
                <!-- <p> Dont see a fragrance you know? </p> -->
                <form action="/request_fragrance_wishlist" method="GET">
                    <button class = "btn" type="submit">Request a Fragrance</button>
                </form>
            </div>
            <img src="{{ url_for('static', filename='assets/fragrances3.jpg.webp') }}" alt="fragrance icon" class="pic_container" />
            <div class = "back_container">
                <form action="/handle_menu" method="POST">
                    <button class = "btn" type="submit">Main Menu</button>
                </form>
            </div>
        </div>
    <!-- <div class = h20> -->
    <div class = "right-column">
        <h2 class = "column-title">My Fragrance Wishlist</h2>
        <div class = "fragrance_collection2">
            {% for fragrance in fragrance_wishlist %}
                <p class="bordered fragtext spacing5"><a class="link-review" href="{{ url_for('review_page', fragrance_name=fragrance.name|urlencode, fragrance_house=fragrance.house|urlencode) }}">
                    <strong class="kinda-bold">{{ fragrance.name }}</strong> by {{ fragrance.house }}</a>
                </p>
            {% endfor %}
        </div>
    <div class = "request-text-collection">
        <p>Change the sorting of your Wishlist?</p>
    </div>
    <div class = "sorting-collection">
        <form action="/alphabetically_sort_name_AZ" method="POST">
            <button class = "btn2" type="submit">Name A-Z</button>
        </form>
        <form action="/alphabetically_sort_name_ZA" method="POST">
            <button class = "btn2" type="submit">Name Z-A</button>
        </form>
        <form action="/alphabetically_sort_house_AZ" method="POST">
            <button class = "btn2" type="submit">House A-Z</button>
        </form>
        <form action="/alphabetically_sort_house_ZA" method="POST">
            <button class = "btn2" type="submit">House Z-A</button>
        </form>
        <form action="/newest_added" method="POST">
            <button class = "btn2" type="submit">Newest Added</button>
        </form>
        <form action="/oldest_added" method="POST">
            <button class = "btn2" type="submit">Oldest Added</button>
        </form>
    </div>
</div>
</div>
</body>
</html>